<h2>Reporting System</h2>

<ul>
    <li>@Html.ActionLink("All Products", "Index", "ReportProductsAll")</li>
    <li>@Html.ActionLink("Products That Comply", "Index", "ReportProductComplies")</li>

</ul>
