@{
    ViewBag.Title = "eProduct Manager";
}
<head>
    <title>eProduct Manager</title>
    <style type="text/css">
        body {
            background: url('Images/cityscape.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>




</head>
<div class="jumbotron">
   eProduct Manager 
</div>

<div class="row">
    
</div>