<h2>Help System</h2>

Setting up the compliance matrix.
<ul>
    <li>1 GOTO the maintenance menu.</li>

    <li>All items are number in order of set-up</li>

    <li>1 set-up the compliance categories eg electrical</li>

    <li>2 set-up the compliance forms. These are the forms which outline the compliance requirements.</li>

    <li>3 add a compliance item. the Item can be found on the compliance forms. An important component of this is to select or deselect the end item tick box. When the tick box is selected. This means the work flow</li>

    <li>will effectively be ended. (an example of this is where electrical passive -no further compliance.)</li>
</ul>
Use of the product compliance system
<ul>
    <li>Search the product by name. Enter the product name in the text box at the top of the page</li>

    <li>To add a compliance form for to a product, select edit then check the appropriate boxes at the bottom, Click save.</li>

    <li>To Add a compliance item to a form select compliance</li>

    <li>Select the compliance form by clicking select</li>

    <li>Once selected, for each item click either "Add compliance" or "Remove compliance"</li>

    
</ul>