<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eproductman.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eproductman.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eProductman</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eProductman</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ePro.DB.eProContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ePro.DB.eProContext, ePro" MigrationConfiguration="ePro.DB.eprocontext.Configuration, ePro" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="cmdstrings" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ePro.DB.eProContext;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cmdstrings_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ePro.DB.eProContext;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ePro.Models.ApplicationDbContext, ePro" MigrationConfiguration="ePro.DB.applicationdbcontext.Configuration, ePro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cmdstrings-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ePro.DB.eProContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pkmlguftek.database.windows.net,1433;Initial Catalog=eProductman_db;User ID=gnikwerdna@pkmlguftek;Password=187Ch@lleng3r</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ePro.DB.eProContext" />
  </ItemGroup>
</Project>