
@{
    ViewBag.Title = "Index";
}

<h2>Maintenance</h2>
<ul>
    <li>@Html.ActionLink("1 Setup Compliance Categories", "Index", "ComplianceCategories")</li>
    <li>@Html.ActionLink("2 Setup Compliance Forms", "Index", "ComplianceForms")</li>
    <li>@Html.ActionLink("3 Add Compliance Item", "Index", "ComplianceItems")</li>
    <li>@Html.ActionLink("4 Compliance Profile Builder", "Index", "Compliances")</li>
    
    
    
</ul>

