@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Main campus Address<br />
    street<br />
    <abbr title="Phone">P:</abbr>
    03 9000 8000
</address>

<address>
    <strong>Support:</strong>   <a href="#">email@email.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@email.com</a>
</address>