@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School User Maintenance</h1>
    <p class="lead">Manage Synergetic and AD User Accounts</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schoolbox</h2>
        <p>
            School LMS System.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Synweb</h2>
        <p>Synergetic online for Staff</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comportal</h2>
        <p>Synergetic community and parent pages </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>